body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.filter-section {
  flex-basis: 40%;
  height: 100vh;
  background-color: #fff;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin: auto;
}


.filter-section h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
}

.filter-section label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 0.9rem;
}

.filter-section select,
.filter-section input[type="checkbox"] {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-section {
  flex-basis: 60%;
  padding: 2rem;
  box-sizing: border-box;
}

.card {
  border: 1px solid #ccc;
  padding: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  flex-basis: calc(33.33% - 1.5rem);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card:last-of-type {
  margin-right: 0;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.2rem;
}

.card p {
  margin-bottom: 1rem;
  color: #555;
  font-size: 0.9rem;
}

.card a {
  display: block;
  margin-bottom: 1rem;
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.card a:hover {
  color: #0077cc;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .filter-section {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    flex-basis: 100%;
  }

  .card-section {
    width: 100%;
    flex-basis: 100%;
    padding: 1rem;
  }

  .card {
    flex-basis: calc(50% - 1rem);
    margin-right: 1rem;
  }

  .card:last-of-type {
    margin-right: 0;
  }
}
